#wp-*
#.htaccess
#/index.php
#xmlrpc.php
#readme.html
#license.txt
#!src
#!src/wp-config-sample.php
#src/wp-config.php
1-old
dist/*
!dist/.gitkeep
!dist/admin
dist/admin/*
!dist/admin/.gitkeep
node_modules
.npmrc
package-lock.json