a{
	text-decoration: none;
}

p{
	margin: 0;
}


ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0;
}

section{
	position: relative;
}

scg-wrap{
	display: contents;
}

#app{
	height: 100%;
	#pageWrapper{
		#pageContent{
			will-change: transform;
		}
	}
}

.cbg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}