<!DOCTYPE html>
<html lang="fr-CA">
<head>
	<meta charset="UTF-8">
	<!--<link rel="icon" type="image/png" size="192x192" href="">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
	<title></title>
	<link rel="stylesheet" href="./assets/css/main.min.css" type="text/css" media="screen">
	<!--<link rel="preload" as="font" href="" type="font/woff2" crossorigin>-->
	<!--<link rel="preload" as="image" href="">-->
</head>
<body>
	<noscript>You need to enable JavaScript to run this app.</noscript>
	<div id="viewport">
		<div id="preloader">
			<div class="contents">
				<span>One moment</span>
				<div class="bars">
					<div class="bar"></div>
					<div class="bar"></div>
					<div class="bar"></div>
				</div>
			</div>
		</div>
		<div id="app"></div>
	</div>
	<script src="./assets/js/main.min.js"></script>
</body>
</html>